<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <style type="text/css" charset="utf-8" rel="stylesheet">

body {
  font-family:sans-serif;
  background-color:#999;
  color:#000;
}

h1 {
  font-size:1.6em;
  color:#000;
  margin-bottom:1em;
}


a {
  color:#36F;
}

p {
  line-height:1.4em;  
}


#wrap {
  width:600px;
  margin:3em auto;
  padding:6px;
  background-color:#CCC;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

#notice {
  padding:1.5em 2em 0.5em 2em;
  background-color:#FFF;
  border:2px solid #AAA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#notice p {
  font-size:1.2em;
}

#notice #times p {
  margin:0.2em 0;
}

#times {
  margin:1.5em 0 2.5em 0;
}

a.permatime {
  font-size:0.8em;
  font-weight:bold;
}




      
    </style>
  <title>Maintenance notice APP_NAME</title>
  </head>
  <body>

  <div id="wrap">
    <div id="notice">
      <h1>Maintenance Notice</h1>
      <p>APP_NAME is currently offline for <%= reason ? reason: 'a little maintenance'%>. 
      We are really sorry for any inconvenience this may cause you. </p>
      <div id="times">
        <p>We have been offline since <strong><%= Time.now.strftime("%I:%M %p %Z") %></strong> 
           <a href="<%= permatime %>">(See it in your time zone)</a></p>
        <p>We aim to be back 
            <% if deadline %>
              by <strong><%=deadline%></strong>.
            <% else %>
              shortly.
            <% end %></p>
      </div>
      <p class="note">Please <a href="mailto:our-email-address">email us</a> if you need to get in touch.</p>
    </div>
  </div>
    
  </body>
</html>